<!-- @author Liangcheng Juves -->
<!-- Created at 2020/6/2 17:50 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meyoustu.amuse">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Mainly used to detect whether the application has a network connection. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AmuseAppTheme"
        android:usesCleartextTraffic="true">
        <service
            android:name=".multidex.OptimizeService"
            android:exported="false"
            android:process=":amuse" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- META_DATA_FILE_PROVIDER_PATHS -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/external_file_paths" />
        </provider>
    </application>
</manifest>
